<div id="connexion">
    <div class="container">
    <h2 class="title">Connexion</h2>
        <fieldset class="well">
            <div class="form-group">
                <label>Nom d'utilisateur :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Mot de passe :</label>
                <input type="password" class="form-control">
            </div>
            <div class="checkbox">
                <label><input type="checkbox">Se souvenir de moi</label><br><br>
            </div>
            <a href="index.html" class="button pull-right">Se connecter</a>
        </fieldset>
    </div>
</div>
