<footer class="footer">
  <div class="container">
    <ul class="inline">
            <li><a href="index.html">Accueil</a></li>
            <li><a href="index-produit.html">Nos produits</a></li>
            <li><a href="presentation.html">Présentation</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <hr/>
        <div class="copyrightText">
            <p class="inline">  Antoine Peyrin &copy; 2017 copyright - Figastik Figurines</p>
        </div>
  </div>
</footer>
</body>
</html>
